<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<script src="//code.jquery.com/jquery-1.10.2.min.js" language="javascript"></script>
<script type="text/javascript" src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/hmac-sha256.js"></script><script type="text/javascript" src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/components/enc-base64-min.js"></script>
<script src="site.js" language="javascript"></script>
<script src="fs.js" language="javascript"></script>
{% block head %}
{% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<script>
{% block pagescript %}
{% endblock %}
</script>
</body>
</html>
