{% extends "base.html" %}
{% block dropdown %}{% include "dropdown.html" %}{% endblock %}
{% block pagescript %}
$(document).ready(function() {
	var filename = loadPageVar("filename");
	if(filename == "") {
		window.location="ls.html";
		window.focus();
	}
	window.document.title = filename;
	if(!localStorage['sessionkey'] || !localStorage['username']) {
		$("#content").html("<p><a href=\"logon.html\">Login</a> Required</p>");
		return;
	}
	var signature = hash(filename, localStorage['sessionkey']);
	$.getJSON("ls.php", {"filename": filename, "username": localStorage['username'], "signature": signature},
	        function(data) {
			var content = $("#content");
                        var dropdown = $("#dropdown-menu");
			var message = "<div class=\"well\">";
			if(data['status'] && data['status'] != 0) {
				content.text(data['message']);
				return;
			}
			message += "<p>Name: " + data['name'] + "</p>\n";
			message += "<p>Type: ";
			if(data['type'] == 'f') {
				message += "file";
			} else {
				message += "directory";
			}
			message += "</p>\n";
			message += "<p>Size: " + data['size'] + " bytes</p>\n";
			message += "Parent Directory: " + data['parent'] + "</p>\n";
                        message += "</div>\n";
			content.html(message)
                        message = ""
			if(data['type'] != 'd') {
				var clean_filename = filename.substring(0, filename.lastIndexOf('.'));
				var clean_signature = hash(clean_filename, localStorage['sessionkey']);
				var clean_query = "?filename=" + clean_filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(clean_signature);
				message += "<li><a href=\"merge.php" + clean_query + "\">Merge contents</a></li>\n";
				message += "<li><a href=\"clean.php" + clean_query + "\">Clean contents</a></li>\n";
				message += "<li><a href=\"base64.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "&action=decode\">Base64 Decode contents</a></li>\n";
				message += "<li><a href=\"stat.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">File Stat</a></li>\n";
				message += "<li><a href=\"checkout.php?download&filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Check out</a></li>\n";
				message += "<li><a href=\"checkin.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Check in</a></li>\n";
				message += "<li><a href=\"stream.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">View File</a></li>\n";
				message += "<li><a href=\"share.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Share File</a></li>\n";
				message += "<li><a href=\"share.php?action=remove&filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Unshare File</a></li>\n";
	
			}
			dropdown.html(message);
		}
	);
});
{% endblock %}
