{% extends "base.html" %}
{% block dropdownmenu %}{% include "dropdown.html" %}{% endblock %}
{% block extras %}
<!-- Modal -->
<div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalTitle">Confirm Delete</h4>
      </div>
      <div class="modal-body">
      Do you really want to delete this file?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="do_delete">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block pagescript %}

function doDelete(username, filename, signature) {
    $.getJSON("delete.php", {"filename": filename, "username": username, "signature": signature},
        function(data) {$("#content").text(data['message']);}
    );
}

$(document).ready(function() {
	var filename = loadPageVar("filename");
	if(filename == "") {
		window.location="ls.html";
		window.focus();
	}
	window.document.title = filename;
	if(!localStorage['sessionkey'] || !localStorage['username']) {
		$("#content").html("<p><a href=\"logon.html\">Login</a> Required</p>");
		return;
	}
	var signature = hash(filename, localStorage['sessionkey']);
	$.getJSON("ls.php", {"filename": filename, "username": localStorage['username'], "signature": signature},
	        function(data) {
			var content = $("#content");
                        var clean_filename = filename.substring(0, filename.lastIndexOf('.'));
			var clean_signature = hash(clean_filename, localStorage['sessionkey']);
			var clean_query = "?filename=" + clean_filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(clean_signature);
			var message = "";
			if(data['status'] && data['status'] != 0) {
				content.text(data['message']);
				return;
			}
			message += "<p>Name: " + data['name'] + "</p>\n";
			message += "<p>Type: ";
			if(data['type'] == 'f') {
				message += "file";
			} else {
				message += "directory";
			}
			message += "</p>\n";
			message += "<p>Size: " + data['size'] + " bytes</p>\n";
			message += "Parent Directory: <a href=\"ls.html?filename=" + data['parent'] + "\">" +  data['parent'] + "</a></p>\n";
                        message += "<button class=\"btn btn-primary btn-lg\" data-toggle=\"modal\" data-target=\"#confirm_delete\">Delete</button>";
                        content.html(message);
			if(data['type'] != 'd') {
              			message = "";
              			var dropdownmenu = $("#dropdown-menu");

				message += "<li><a href=\"merge.php" + clean_query + "\">Merge contents</a></li>\n";
				message += "<li><a href=\"clean.php" + clean_query + "\">Clean contents</a></li>\n";
				message += "<li><a href=\"base64.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "&action=decode\">Base64 Decode contents</a></li>\n";
				message += "<li><a href=\"stat.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">File Stat</a></li>\n";
				message += "<li><a href=\"javascript:void(0)\" id=\"doMD5\">MD5</a></li>\n";
				message += "<li><a href=\"checkout.php?download&filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Check out</a></li>\n";
				message += "<li><a href=\"checkin.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Check in</a></li>\n";
				message += "<li><a href=\"stream.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">View File</a></li>\n";
				message += "<li><a href=\"share.php?filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Share File</a></li>\n";
				message += "<li><a href=\"share.php?action=remove&filename=" + filename + "&username=" + localStorage['username'] + "&signature=" + encodeURIComponent(signature) + "\">Unshare File</a></li>\n";
				dropdownmenu.html(message);
                                $("#do_delete").click(function(){doDelete(localStorage['username'], filename, signature);});
				$("#doMD5").click(function(){md5File(filename, localStorage['username'], signature);});
			}
		}
	);
   $("#content").addClass("well");

function md5File(filename, username, signature) {
	$.getJSON("md5.php", {"filename": filename, "username": username, "signature": signature},
		function(result) {
			if(result['md5']) {
				$("#content").text(result['md5']);
			} else {
				$("#content").text(result['message']);
			}
		}
	);
}});
{% endblock %}
