{% extends "base.html" %}
{% block title %}Logon{% endblock %}
{% block content %}
<form action="logon.php" method="post">
<label for="username">User Name:</label>
<input type="text" name="username" id="username"><br>
<label for="pass">Password:</label>
<input type="password" name="auth" id="auth"><br>
<label for="totp">One Time Passcode:</label>
<input type="text" name="totp" id="totp"><br>
<input type="hidden" name="webui" id="webui"/>
<input type="submit" name="submit" value="Submit">
</form>
{% endblock %}
{% block pagescript %}
$("#footer").html(site_footer());
$(document).ready(function() {
	var server_info = get_server_info();
	if(server_info['time']) {
		localStorage['offset'] = server_info['time'] - unixtime();
	}
});
{% endblock %}
