{% extends "base.html" %}
{% block head %}
<script src="dropzone.min.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="css/dropzone.css"/>
{% endblock %}
{% block content %}
<form action="upload.php" method="post" id="uploadform" class="dropzone">
<input type="hidden" id="username" name="username"/>
</form>
<div id="message"></div>
{% endblock %}
{% block pagescript %}
$(document).ready(function() {
	var serverinfo = get_server_info();
	var filesize = 2; // MB
	var uploadtoken = undefined;

	if(serverinfo && serverinfo['max_upload_size']) {
		filesize = serverinfo['max_upload_size']/(1024*1024);
	}

	if(!localStorage["username"] || !localStorage["sessionkey"]) {
		$("#message").html("<p><a href=\"logon.html\">Logon required</a></p>");
		$("#uploadform").hide();
	}	
	else {
		$("#username").val(localStorage["username"]);
	}

	uploadrequest = $.get("requestupload.php", {"username": localStorage['username'], "signature": sign_data("upload")});
	uploadrequest.done(function(data) {
		json = $.parseJSON(data);
		uploadtoken = json['token'];
	});
	uploadrequest.fail(function(jqXHR) {
		json = $.parseJSON(jqXHR.responsetext);
		alert("Request to upload file failed: " + json['message']);
	});	

	Dropzone.options.uploadform = {
		paramName: "file",
		maxFilesize: filesize,
		init: function() {
			this.on("success", function(fileObj, response) {
				json = $.parseJSON(response)
				if(json['status'] != "0") {
					fileObj.previewElement.classList.add("dz-error");
					fileObj.previewElement.querySelector("[data-dz-errormessage]").textContent = json['message'];
				}
			});
			this.on("sending", function(file, xhrobj, formData) {
				formData.append("signature", uploadtoken);
			});
		}
	};
});
{% endblock %}
