{% extends "base.html" %}
{% block content %}
<div id="message"></div>
<div id="result"></div>
<form action="postdata.php" id="writerform">
<label for="filename">Filename:</label><input type="text" name="filename" id="filename"/>
<input type="submit" name="submit" value="Save" id="savebtn"/>
<br/>
<textarea id="data" rows="50" cols="100"></textarea>
</br>
</form>
{% endblock %}
{% block pagescript %}
function dopost(event) {
	event.preventDefault();
	var username = localStorage['username']
	var url = $("#writerform").attr("action");
	var data = $("#data").val();
	var filename = $("#filename").val();
	var signature = hash(filename, localStorage['sessionkey']);
	var result = $.post(url, {filename: filename, username: username, data: data, signature: signature});

	result.done(function(data) {
		var json = jQuery.parseJSON(data);
		$("#result").empty().append(json.message);
	});

}

$(document).ready(function() {
	if(!localStorage["username"] || !localStorage["sessionkey"]) {
		$("#message").html("<p><a href=\"logon.html\">Logon required</a></p>");
		$("#writerform").hide();
	}	
	$("#writerform").submit(function(event){dopost(event);});
	$("#footer").html(site_footer());
});
{% endblock %}
