<?php

// Logging Setup
require_once("includes/logger.php");
WebFSLog::init("/path/to/logs/webfs.log");
WebFSLog::set_level(WebFSLog::WARN);

$contentdir = "/path/to/content"; // Path on Server where content is stored
$uploaddir = "/uploads"; // Subdirectory for uploads within $contentdir
$default_dir_mode = 0700; // File mode used on Server
$max_failed_logins = 3;
$site_salt = "SALT USED FOR HASHES IN DATABASE";
$max_upload_size = 1048576; // Requested max upload size.
$max_upload_token_age = 7200; // Amount of seconds the upload token is available to be used.

function site_footer() {
	echo "Site Unique Footer Goes Here";
}

?>
