<?php

$db = new Sqlite3("test.sqlite");

$db->exec("create table if not exists users (username STRING PRIMARY KEY, passhash STRING NOT NULL, sessionkey STRING, sessionstart INTEGER, failed_logins INTEGER default 0);") || die ("Could not setup table.");

?>
