<?php

$uploaddir = "/path/to/content"; // Path on Server where content is stored
$default_dir_mode = 0700; // File mode used on Server

function site_footer() {
	echo "Site Unique Footer Goes Here";
}

?>
